<!DOCTYPE html>
<html>
  <head>
    <title>KidsKill</title>
    <link rel="stylesheet" type="text/css" href="/kidskill.css">
    <script type="text/javascript" src="/jquery-1.11.2.min.js"></script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>

