<html>
<head>
<title>Kidsbook sosialt nettverk</title>
</head>
<body>
<div>Velkommen til kidsbook</div>
<div><a href="/ny.html">Nytt innlegg....</a></div>

<div>Innleggene kommer her...</div>
</body>
</html>
