<p>
<% if @avsender %>
  Trykk <a href="/ny">her</a> for å skrive et nytt innlegg
<% else %>
  For å skrive innlegg må man være logget inn.
  Trykk <a href="/login">her</a> for å logge inn.
<% end %>
</p>

<% @innlegg.each do |et_innlegg| %>
  <p class="innlegg-tekst">
  <%= et_innlegg[:tekst] %>
  </p>
  <p class="avsender">
  Hilsen: <%= et_innlegg[:avsender] %>
  </p>
<% end %>

