<!DOCTYPE html>
<html>
  <head>
    <title>Kidsbook sosialt nettverk</title>
    <link rel="stylesheet" type="text/css" href="kidsbook.css">
  </head>
  <body>
    <img src="kidsbook_logo.png"></img>

    <%= yield %>

    <p>
      Bruk 
      <a href="/siste.yaml">denne</a>
      adressen for å lese alle mine data i yaml format
    </p>
    <p>
      <a href="/logut">Logg ut</a>
    </p>
  </body>
</html>

