<p>
Vennligst logg inn i kidsbook med navnet ditt
</p>

<form method="POST" action="/behandle-login">
  <p>
  <input type="text" name="avsender"></input>
  </p>

  <p>
  <input type="submit" value="Logg inn" />
  </p>
</form>


