<form method="POST" action="/behandle-ny">
  <p>
  Skriv ditt nye innlegg her:
  </p>

  <p>
  <textarea name="innlegg"></textarea>
  </p>

  <p>
  <input type="submit" name="submit" value="Nytt innlegg" />
  </p>
</form>

