<h2>Endelig fremme</h2>

<p>Thor Heyerdagl og hans mannskap ankommer endelig Polynesia etter en
strabasiøs reise på <%= @spill[:dager] %> dager. Men det var vert det!</p>

<p>
  <a href="/">Prøv på nytt</a>
</p>


