<h1>Velkommen til Kon Tiki ekspedisjonen</h2>

<img src="kontiki.jpg"></img>

<p>Året er 1947, og seks menn med Tor Heyerdahl i spissen skal reise fra
Callao i Peru med mål for de Polynesiske øyene </p>

<p>Er du klar for å starte?</p>

<a href="/start">Trykk her så er vi igang!</a>
