<h2>Flåta synker!!</h2>
<p>Flåten er stadig dårligere tilstand. På en uheldig bølge tipper den over.
Det er ikke mulig å seile lenger. Ekspedisjonen sluttet her.</p>

<p>
  <a href="/">Prøv på nytt</a>
</p>


