body {
	background-color: darkgray;
}

.innlegg-tekst {
	margin-top: 50px;
}

.kidskilled {
	color: steelblue;
}

.column {
	float: left;
}

#spillere {
	width: 200px;
}

#highscores {
	width: 200px;
}
